<div class="container">
  <form class="register" [formGroup]="form" (ngSubmit)="register()">
    <fieldset>
      <h2>Registration Form</h2>

      <p class="field field-icon">
        <label for="fname"
          ></label>
        <input
          class="input-error"
          type="text"
          name="fname"
          id="fname"
          placeholder="John"
          formControlName="firstName"
        />
      </p>

      <ng-container *ngIf="form.get('firstName')?.touched">
        <p class="error" *ngIf="form.get('firstName')?.errors?.['required']">
          First name is required!
        </p>
        <p class="error" *ngIf="form.get('firstName')?.errors?.['minlength']">
          First name's length should not be less than 3!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="fname"
          ></label>
        <input
          class="input-error"
          type="text"
          name="fname"
          id="fname"
          placeholder="Peterson"
          formControlName="lastName"
        />
      </p>

      <ng-container *ngIf="form.get('lastName')?.touched">
        <p class="error" *ngIf="form.get('lastName')?.errors?.['required']">
          Last name is required!
        </p>
        <p class="error" *ngIf="form.get('lastName')?.errors?.['minlength']">
          Last name's length should not be less than 3!
        </p>
      </ng-container>


      <p class="field field-icon">
        <label for="username"
          ></label>
        <input
          class="input-error"
          type="text"
          name="username"
          id="username"
          placeholder="example username"
          formControlName="username"
        />
      </p>

      <ng-container *ngIf="form.get('username')?.touched">
        <p class="error" *ngIf="form.get('username')?.errors?.['required']">
          Username is required!
        </p>
        <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
          Username's length should not be less than 5!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="email"
          ></label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="john@example.com"
          formControlName="email"
        />
      </p>

      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">
          Email is required!
        </p>
        <p
          class="error"
          *ngIf="form.get('email')?.errors?.['appEmailValidator']"
        >
          Email is not valid!
        </p>
      </ng-container>

      <!-- {{ form.get("email")?.errors | json }} -->

      <ng-container formGroupName="passGroup">
        <p class="field field-icon">
          <label for="password"
            ></label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="******"
            formControlName="password"
          />
        </p>

        <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
          <p
            class="error"
            *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']"
          >
            Password is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']"
          >
            Password must be at least
            {{
              form.get('passGroup')?.get('password')?.errors?.['minlength']?.['requiredLength']
            }}
            characters!
          </p>
        </ng-container>

        
        <p class="field field-icon">
          <label for="rePassword"
            ></label>
          <input
            type="password"
            name="rePassword"
            id="rePassword"
            placeholder="******"
            formControlName="rePassword"
          />
        </p>

        <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
          <p
            class="error"
            *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator'] ||
             form.get('passGroup')?.get('rePassword')?.errors?.['required']"
          >
            Repeat Password does not match password!
          </p>
        </ng-container>
      </ng-container>

      <button [disabled]="form.invalid">Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/auth/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>