<div class="search">
    <form #form="ngForm" (ngSubmit)="searchGames(form)">
<label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <input type="search" 
        name="search"
        id="default-search" 
        textAreaInput
        #textAreaInput="ngModel"
         ngModel
         placeholder="Search Games by name..." required>
        <button 
        class="btn"
        >Search</button>
    </div>
</form>
<hr class="my-6 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />


<div  class="dark:bg-gray-800 dark:text-gray-50"> 

<div class="err" *ngIf="errMessage">{{ errMessage
      }} <i class="fa-solid fa-xmark"></i>
    </div>
  
    <div class="container">
  
      <div *ngFor="let game of searchGame">
       <div class="game">
            <img src="{{game.imgUrl}}">
            <p>Created on: {{game.userId.created_at | elapsedTime}}</p>

        </div>
        <button class="seemore" routerLink="/catalog">See more</button>
      </div>
      <div *ngIf="searchGames.length == 0">
      class="not">
        <p>There no founded games!</p>
      </div>
    </div>
  </div>


