
<div class="container">
  <!-- <div *ngIf="isLoading">
    <app-loader />
  </div> -->
   
    <form (ngSubmit)="updateGameSubmitHandler()">
      <h2>Edit game</h2>
      <div>
      <label></label>
      <input type="text" [(ngModel)]="game.name" name="name" class="form-control"
      required
      minlength="3">
  
      <ng-container *ngIf="inputName.touched">
        <p class="error" *ngIf="inputName.errors?.['required']">
          This field is required. 
        </p>
        <p class="error" *ngIf="inputName.errors?.['minlength']">
          This field must be at least 3 characters long.
        </p>
      </ng-container>
      </div>
    
    <div>
      <label for="img"></label>
      <input type="text" id="imgUrl" [(ngModel)]="game.imgUrl" name="imgUrl" class="form-control"
      required>
  
      <ng-container *ngIf="inputName.touched">
        <p class="error" *ngIf="inputName.errors?.['required']">
          This field is required.
        </p>
        </ng-container>
    </div>
  
    <div>
      <label for="description"></label>
      <input type="text" id="description" [(ngModel)]="game.description" name="description" class="form-control"
      required>
  
      <ng-container *ngIf="inputName.touched">
        <p class="error" *ngIf="inputName.errors?.['required']">
          This field is required.
        </p>
        <p class="error" *ngIf="inputName.errors?.['minlength']">
          This field must be at least 5 characters long.
        </p>
      </ng-container>
    </div>
  
    <div>
      <label for="year"></label>
      <input type="text" id="year" [(ngModel)]="game.year" name="year"  class="form-control"
      required>
  
      <ng-container *ngIf="inputName.touched">
        <p class="error" *ngIf="inputName.errors?.['required']">
          This field is required.
        </p>
        <p class="error" *ngIf="inputName.errors?.['minlength']">
          This field must be at least 4 characters long.
        </p>
      </ng-container>
    </div>
  
    <div>
      <label for="genre"></label>
      <input type="text" id="genre" [(ngModel)]="game.genre" name="genre" class="form-control"
      ngModel
      #inputName="ngModel"
      required>
  
      <ng-container *ngIf="inputName.touched">
        <p class="error" *ngIf="inputName.errors?.['required']">
          This field is required.
        </p>
        <p class="error" *ngIf="inputName.errors?.['minlength']">
          This field must be at least 4 characters long.
        </p>
      </ng-container>
    </div>
    
      <button>SAVE</button>
    </form>
  </div>